@charset "utf-8";
@font-face{
    font-family: 'NanumGothic';
    src:local('NanumGothic'),
    url(../res/fonts/NanumGothic.eot),
    url(../res/fonts/NanumGothic.woff) format('woff');

}

html, body{
    font-family: NanumGothic, ?‚˜?ˆ”ê³ ë”•, sans-serif;
    margin:0px;
    height: 100%;
}

#topBar{
    background-color: #24292E;
    height: 50px;
    width: 100%;
    margin: 0px;
    position: fixed;
}

#headTitle{
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
    padding-left: 10px;
    margin: 0px;
    color: white;
}

#headSubTitle{
    font-size: 13px;
    font-weight: bold;
    color: white;   
}

#menuButton{    
    background-color: #24292E;
    color:white;
    font-size: 35px;
    line-height: 50px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

#sideNav{
    width: 250px;
    height: 100%;
    background-color: #E1E4E7;
    line-height: 50px;
}

.menu{
    height: 100%;
    widows: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #384048;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

.menu .closeButton {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 35px;
    margin-left: 50px;
}