@charset "utf-8";
@font-face{
    font-family: 'NanumGothic';
    src:local('NanumGothic'),
    url(../res/fonts/NanumGothic.eot),
    url(../res/fonts/NanumGothic.woff) format('woff');

}

html, body{
    font-family: NanumGothic, 나눔고딕, sans-serif;
    margin:0px; 
    height: 100%;
    z-index: 1;
}

#topBar{
    background-color: #24292E;
    height: 50px;
    width: 100%;
    margin: 0px;
    position: fixed;
    z-index: 2;
}

#headTitle{
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
    padding-left: 10px;
    margin: 0px;
    color: white;
}

#headSubTitle{
    font-size: 13px;
    font-weight: bold;
    color: white;   
}

.Button{    
    background-color: #24292E;
    color:white;
    font-size: 35px;
    line-height: 50px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
}


#sideNav{
    width: 250px;
    height: 80%;
    position: fixed;
    top: 80px;
    left: 30px;
    z-index: 2;
    background-color: white;
}

.menu{
    height: 100%;
    widows: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #384048;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.closeButton {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 35px;
    margin-left: 50px;
}

#map {
    width: 100%;
    height: 100%;
}

.search {
    height: 100%;
    position: fixed;
    z-index: 3;
    background-color: #F7F8F8;
}

.search a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    text-align: left;
    font-size: 25px;
    color: black;
    display: block;
}

.address {
    font-size: 15px;
    color: gray;
}

.search .closeButton{
    right : 40px;
}

.search input {
    width: 500px;
    height: 50px;
    font-size: 30px;
    margin-bottom: 10px;
}

#searchSet{
    display: none;
    position: relative;
    top: 10%;
}
#searchAnnounceText{
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 10px;
}

.search ul {
    list-style-type: none;
    /* border: 1px solid black;
    border-radius: 5px; */
    width: 500px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.search ul li {
    border-bottom: 1px solid #C4CCCC;
}

.search ul a {
    position: relative;
}

.search ul a:hover {
    background-color: #F7F8F8;
}

#searchButton {
    background-color: white;
}

.search img {
    position: absolute;
    right: 10px;
}


